fullnameOverride: coredns
image:
  repository: ghcr.io/coredns/coredns
k8sAppLabelOverride: kube-dns
service:
  name: kube-dns
  # k0s default cluster DNS IP (10.96.0.0/12 service CIDR)
  clusterIP: {{ .Values.cluster.dnsIP }}
serviceAccount:
  create: true
servers:
  - zones:
      - zone: .
        scheme: dns://
        use_tcp: true
    port: 53
    plugins:
      - name: errors
      - name: health
        configBlock: |-
          lameduck 5s
      - name: ready
      - name: kubernetes
        parameters: cluster.local in-addr.arpa ip6.arpa
        configBlock: |-
          pods verified
          fallthrough in-addr.arpa ip6.arpa
      - name: autopath
        parameters: "@kubernetes"
      - name: forward
        parameters: . /etc/resolv.conf
      - name: cache
        parameters: 30
      - name: loop
      - name: reload
      - name: loadbalance
      - name: prometheus
        parameters: 0.0.0.0:9153
      - name: log
        configBlock: |-
          class error
